@tailwind base;
@tailwind components;
@tailwind utilities;

.form-block {
}

.form-block .form-block-label {
    @apply block text-sm font-medium leading-6 text-gray-900
}

.form-block .form-block-input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
}

#button-change {
    @apply relative rounded-md bg-white px-5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50
}

#button-change input[type=file] {
    @apply absolute top-0 left-0 opacity-0 w-full
}

.image-selector-content{
    @apply mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6
}

.button-content{
    @apply mt-6 flex items-center justify-end gap-x-6
}

.button-content #urlgenlink {
    @apply font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline
}

.button-content #generate {
    @apply rounded-md bg-indigo-600 px-6 py-3 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}